@media (max-width: 799px) {
    .section-p1 {
      padding: 40px 40px;
    }
  
    #navbar {
      display: flex !important;
      flex-direction: column !important;
      align-items: flex-start !important;
      justify-content: flex-start !important;
      position: fixed;
      top: 0;
      right: -300px;
      height: 100vh;
      width: 300px;
      background-color: #e3e6f3;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
      padding: 80px 0 0 10px;
      transition: 0.3s ease;
    }
  
    #navbar.active {
      right: 0px;
    }
  
    #navbar li {
      margin-bottom: 25px;
    }
  
    #mobile {
      display: flex;
      align-items: center;
    }
  
    #mobile i {
      color: #1a1a1a;
      font-size: 24px;
      padding-left: 20px;
    }
  
    #close {
      display: initial;
      position: absolute;
      top: 30px;
      left: 30px;
      color: #222;
      font-size: 24px;
    }
  
    #lg-bag {
      display: none;
    }
  
    #hero {
      height: 70vh;
      padding: 0 80px;
      background-position: top 30% right 30%;
    }
  
    #feature {
      justify-content: center;
    }
  
    #feature .fe-box {
      margin: 15px 15px;
    }
  
    #product1 .pro-container {
      justify-content: center;
    }
  
    #product1 .pro {
      margin: 15px;
    }
  
    #banner {
      height: 20vh;
    }
  
    #sm-banner .banner-box {
      min-width: 100%;
      height: 30vh;
    }
  
    #banner3 {
      padding: 0 40px;
    }
  
    #banner3 .banner-box {
      width: 30%;
    }
  }
  
  @media (max-width: 477px) {
    #header {
      padding: 20px 30px;
    }
  
    #hero h1 {
      font-size: 4.5rem;
    }
  
    h2 {
      font-size: 32px;
    }
  
    p {
      font-size: 23px;
    }
  
    #hero {
      padding: 0 20px;
      background-position: 55%;
    }
  
    #hero h4 {
      padding-bottom: 0;
    }
  
    #hero button {
      padding: 10px 80px 10px 72px;
      font-size: 18px;
    }
  
    .section-p1 {
      padding: 20px;
    }
  
    #feature .fe-box {
      width: 155px;
      margin: 0 0 15px 0;
    }
  
    #feature {
      justify-content: center;
      gap: 15px;
    }
  
    #product1 .pro {
      width: 100%;
    }
  
    #banner {
      height: 40vh;
    }
  
    #sm-banner {
      gap: 20px;
    }
  
    #banner3 {
      padding: 0 20px;
    }
  
    #banner3 .banner-box {
      width: 100%;
    }
  
    #newsletter {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
    }
  
    #newsletter input {
      width: 150px;
    }
  
    footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    footer .col {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-bottom: 20px;
    }
  }